.providersContainer{
    background-color: #0086FF;
    min-height: 60vh;
    align-items: center;
    text-align: center;
    
}
.providersContainer h1{
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    margin-top: 20px;
  }
  .gridItem {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }